
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-container .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination-container .pagination li {
    margin-right: 10px;
    
  }
  
  .pagination-container .pagination li a {
    padding: 12px 24px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    border-radius: 24px;
  }
  
  .pagination-container .pagination li.active a {
    background-color: #a917fe;
    color: #fff;
  }
  
  .pagination-container .pagination li.disabled a {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.2;
    cursor: not-allowed;
  }
  
  .pagination-container .pagination li a:hover {
    background-color: #535252;
    color: white;
  }
  
.projects{
    height: fit-content;
    width: 100vw;
    min-height: 100vh;
    font-size: larger;
}


.projects ul{
    margin-left: 10px;
    padding-left: 0;
}

input[name="filterProjects"]{
    border: 2px solid white;
}

input[name="filterProjects"]:focus{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black ;
}
.projects .input-group-text{
    height: 100%;
    border: unset;
}

@media screen and (max-width:430px) {
    .projects{
        font-size: small;
    }
    
}
