.ContactPage {
    min-height: 100vh;
    height: fit-content;
    background-color: rgb(250, 244, 183);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.custom-form {
    margin: 25px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.contacts-container {
    display: flex;
    justify-content: center;
}

.message {
    height: 100px;
}

.input-group-text {
    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid black;
}

.form-control {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #000000;
}

.form-control:focus {

    box-shadow: 0 0 8px -2px #444444;
    border-bottom: 2px solid #a917fe;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 48px;
}

.footer a:hover{
    transform: scale(1.2);
    transition: 250ms ease-in-out;
}

.footer #fb{
    color: #4867aa;
}
.footer #insta{
    color: #d301dc;
}
.footer #linkedIn{
    color: #0077b5;
}
.footer #gitlab{
    color: #db4128;
}