@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Grotesk:wght@500&family=Yanone+Kaffeesatz&display=swap');

@keyframes flow {
    

    0% {
        background-position: left;
        background-image: url(../../../assets/river.svg);
        
    }

    50% {
        background-position: right;
        background-image: url(../../../assets/river.svg);
    }
    51%{
        background-image: url(../../../assets/riverFlip.svg);
    }

    100% {
        background-position: left;
        background-image: url(../../../assets/riverFlip.svg);
    }
}

@keyframes flowName {
    50% {
        color: #a917fe;
        transform: scale(1.05);
    }

}

.Navbar {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgb(86, 211, 194);
    border: 2px solid;
    box-shadow: 2px 2px 10px 10px rgba(14, 10, 1, 0.2);
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    animation:flow 20s linear infinite;
}





.custom-link {
    text-decoration: none !important;
    color: black;
    padding: 5px 10px;
    transition: 250ms ease-in-out;
}

.nav-brand{
    margin: 0 auto;
}

.custom-link h2 {
    font-family: 'Pacifico', cursive;
    animation: flowName 10s linear infinite;
}



.links {
    
    background-color: rgba(255, 255, 255,0.8);
    border: 1px solid ;
    border-radius: 12px;
    margin-left: 20px;
    


}

.custom-link:hover {
    text-decoration: none;
    transform: scale(1.05);
    color: #a917fe;
}

@media screen and (max-width:430px) {
    .Navbar {
        animation: none;
        background-image: none;
    }

    .custom-link h2 {
        animation: none;
    }
}