.Intro {
    display: flex;
}
.list{
    font-size: larger;
    text-align:start;
    line-height: 1;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 10px 5px;
    
}
.roles{
    background-color: transparent;
    list-style-type:square;
}
.custom-card{
    background-color: rgba(248, 242, 242,0.4);
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 2px 4px 5px 5px rgba(4, 4, 4,0.2);
    transition: 250ms ease-in-out;
    
}

.custom-card:hover{
    
    transform: scale(1.03);
}
.custom-card:hover .progress>*{
    background-color: blueviolet;
    
}
.side-div {
    background-color: rgb(250, 244, 183); 
    border: 10;
    min-height: 100vh;
    max-height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid;
    
}

.profile-picture {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    transition: 450ms ease-in-out;
    border-radius: 50%;
    transform: rotate(40deg);
    cursor: pointer;
}
.profile-picture:hover{
    transform: scale(1.2);
}

 

.edu-info{

    margin-left: 6%;

}
.progressBar{
    flex-basis: 90%;
}
.main-div {
    font-size: larger;
    background-color: initial;
    height: 100%;
}

@media screen and (max-width:1200px) {
  
    .side-div{
        font-size: smaller;
    }
}
@media screen and (max-width:430px) {
  
   .side-div{
    border-right: unset;
   }
}