@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.App{
    background-color: rgb(236, 197, 251);
    font-family: 'Merriweather Sans', sans-serif;
    min-height: fit-content;
}